<% @magazines.each do |magazine| %>
        <tr>
          <!--<td>Checkmark box that triggers a "save to" the user's personal table</td>!-->
          <!--This needs to link to some crazy back-end stuff that can determine if the magazine is open or closed. !-->
          <td><%= magazine.open_status? %></td>
          <td><%= link_to magazine.title, magazine_path(magazine) %></td>
          <td><%= magazine.reading_period %></td>
          <!--need to get this to call two dates? !-->
          <td><%= magazine.payment %></td>
          <td><%= magazine.magazineformat %></td>
          <td><%= magazine.submissionrestriction %></td>
          <td><%= magazine.genre %></td>
          <td><%= magazine.publicationcycle %></td>
          <td><%= magazine.submissionlimit %></td>
          <td><%= magazine.submit_to_address %></td>
          
          <!--These should only be available administratively
          <td><%#= link_to 'Edit', edit_magazine_path(magazine) %></td>
          <td><%#= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          !-->
        </tr>
      <% end %>
 
    

 <!-- inherited from bootstrap, but it's been removed. I want this little button to be in the first row. <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          </button> !-->
