<div class="page-header">

  <h1> All Magazines </h1>

</div>

  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Reading Period</th>
        <th>Payment</th>
        <th>Format</th>
        <th>Submission Restriction</th>
        <th>Genre</th>
        <th>Publication Cycle</th>
        <th>Submission Limit</th>
        <th>Submit To Address</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @magazines.each do |magazine| %>
        <tr>
          <!--<td>Checkmark box that triggers a "save to" the user's personal table</td>!-->
          <!--This needs to link to some crazy back-end stuff that can determine if the magazine is open or closed. !-->
          <td><%# if magazine.open_status? %>
<!--               <p>Open</P>
                <%# else %>
              <p>Closed</p> -->
              <%# end %></td>
          <!--need this to call the thing that will open and close the magazine!-->
          <td><%= link_to magazine.title, magazine_path(magazine) %></td>
          <td><%#= magazine.readingperiod %></td>
          <!--need to get this to call two dates?!-->
          <td><%= magazine.payment %></td>
          <td><%= magazine.magazineformat %></td>
          <td><%= magazine.submissionrestriction %></td>
          <td><%= magazine.genre %></td>
          <td><%= magazine.publicationcycle %></td>
          <td><%= magazine.submissionlimit %></td>
          <td><%= magazine.address_number %>
              <%= magazine.street_name %>
              <%= magazine.city_name %></td>
          
          <!--These should only be available administratively
          <td><%= link_to 'Edit', edit_magazine_path(magazine) %></td>
          <td><%= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          !-->
        </tr>
      <% end %>
    </tbody>
    

 <!-- inherited from bootstrap, but it's been removed. I want this little button to be in the first row. <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          </button> !-->
  <br>

<!--These should only be available administratively
  <%= link_to 'New Magazine', new_magazine_path %>
!-->


