<!--is this page one only an admin would see? 
  No: everyone sees it if they click on the title. It is also the page that is redirected to after the admin has made changes or added a new magazine to the database though.!-->

<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @magazine.open_status? %>
</p>

<p>
  <strong>Title:</strong>
  <%= @magazine.title %>
</p>

<p>
  <strong>Reading Period:</strong>
  <%= @magazine.start_date.strftime("%B-%d")%> to <%= @magazine.end_date.strftime("%B-%d") %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @magazine.payment %>
</p>

<p>
  <strong>Magazine Format:</strong>
  <%= @magazine.magazineformat %>
</p>

<p>
  <strong>Submission Restriction:</strong>
  <%= @magazine.submissionrestriction %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @magazine.genre %>
</p>

<p>
  <strong>Publication Cycle:</strong>
  <%= @magazine.publicationcycle %>
</p>

<p>
  <strong>Submission Limit:</strong>
  <%= @magazine.submissionlimit %>
</p>

<p>
  <strong>Submit To Address:</strong>
  <%= @magazine.submit_to_address %>
</p>

<!--Should only be available administratively <%#= link_to 'Edit', edit_magazine_path(@magazine) %> !-->
<%= link_to 'Back', magazines_path %>
